<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/082de5ad-df1f-46ab-aa39-33425b757236/resourceGroups/F1TestGroup/providers/Microsoft.Web/sites/SmartHome</ResourceId>
    <ResourceGroup>F1TestGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://smarthome-adcgcefqakd8g0aq.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>343c6a8d-5a39-4f1b-bbe7-23d4bdc881ee</ProjectGuid>
    <PublishUrl>https://smarthome-adcgcefqakd8g0aq.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$SmartHome</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>